<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bwton.metro.usermanager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name="com.bwton.metro.usermanager.business.login.views.PwdLoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.bwton.metro.usermanager.business.login.views.QuickLoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.bwton.metro.usermanager.business.register.views.RegisterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.bwton.metro.usermanager.business.resetpwd.views.ResetPwdActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.bwton.metro.usermanager.business.resetpwd.views.ModifyPwdActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>